body{
    margin: 0;
    text-align: center;
    font-family: 'Merrriweather',serif;
}
h1 {
    color: #66bfbf;
    font-size: 5.525rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}
h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
}
.middle-container {

}
.bottom-container {
  
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
}


.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}